.day-selector{
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    font-size: 16px;
}

.day-selector img{
    width: 50px;
}

.day-selector .activate{
    background-color: #f0f0f0;
}