<div class="container">
    <div class="heading">
        <p>Current Conditions</p>
    </div>
    
    <div class="weather-box" *ngIf="localWeather" >
        <div class="primary-info">
            <div class="location">
                <span >{{ localWeather.location.name }}, {{ localWeather.location.region }} </span>
            </div>
            <div class="weather-info">
                <p class="temp">{{ localWeather.current.temp_c }}  </p>
                <p class="degrees">°C</p>
                <img class="symbol" [src]="localWeather.current.condition.icon" alt="current condition">
            </div>
            <div>
                <p>{{ localWeather.current.condition.text }}</p>
            </div>
        </div>
        <div class="secondary-info">
            <div class="wind-details">
                <p>Wind</p>
                <div class="text-stack" >
                    <p class="wind">{{ localWeather.current.wind_kph | number: '1.0-0'}}</p>
                    <p class="details">km/h<br>{{ localWeather.current.wind_dir }}</p>
                </div>
            </div>
            <div>
                <span>Gusts</span>
                <div class="text-stack">
                    <span class="wind">{{ localWeather.current.gust_kph | number: '1.0-0' }} </span>
                    <span class="details" >km/h</span>
                </div>
            </div>
            
        </div>
    </div>
</div>
