.container{
    font-family: Roboto, sans-serif;
    
}
.heading{
    font-size: 32px;
    margin-bottom: 10px;
    
}
.weather-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.location{
    font-size: 24px;
    
}



.weather-info{
    display: flex;
}
.weather-info .temp{
    font-size: 52px;
    color: #e8bf25;
}
.weather-info .degrees{
    font-size: 20px;
    vertical-align: top;
    margin-top: 10px;
}

.weather-info .symbol{
    vertical-align: bottom;
}

.secondary-info{
    display: flex;
    gap: 1rem;
}
.wind{
    font-size: 32px;
}

.details{
    font-size: 12px;
}



.text-stack{
    display: flex;
    align-items: center;
}