<div class="container">
    <div class="location" *ngIf="localWeather">
        <form #locationForm="ngForm" (ngSubmit)="getLocation(locationForm.value)">
            <input name="location" type="text" placeholder="Enter Location" ngModel >
            <button type="submit">Search</button>
        </form>
        <p>{{ localWeather.location.name }}, {{ localWeather.location.region }} </p>
    </div>
    <div class="heading">
        <span >Current Conditions</span>
    </div>
    <div class="weather-box" *ngIf="localWeather" >
        <div class="primary-info">
            <div class="weather-info">
                <img class="symbol" [src]="localWeather.current.condition.icon" alt="current condition">
                <p class="temp">{{ localWeather.current.temp_c }}</p>
                <p class="degrees">°C</p>
            </div>
            <div>
                <p>{{ localWeather.current.condition.text }}</p>
            </div>
        </div>
        <div class="secondary-info">
            <div class="wind-details">
                <p>Wind</p>
                <div class="text-stack" >
                    <p class="wind">{{ localWeather.current.wind_kph | number: '1.0-0'}}</p>
                    <p class="details">km/h<br>{{ localWeather.current.wind_dir }}</p>
                </div>
            </div>
            <div>
                <span>Gusts</span>
                <div class="text-stack">
                    <span class="wind">{{ localWeather.current.gust_kph | number: '1.0-0' }} </span>
                    <span class="details" >km/h</span>
                </div>
            </div>
            
        </div>
    </div>
</div>
