.weather-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.location{
    font-size: 24px;
}

.temp{
    font-size: 52px;

}
.degrees{
    font-sizse:42;
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
}

.wind{
    font-size: 32px;
}

.symbol{
    display: inline;
    vertical-align: bottom;
}

.details{
    font-size: 12px;
}

.secondary{
    display: flex;
    gap: 1rem;
}

.secondary-unit-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}