.title{
    display: flex;
    justify-content: left;
    font-size: 28px;
    font-weight: 500;
    margin-top: 1vw;
    margin-bottom: 1rem;
    color: #1c3f9d;
    
}


.container{
    margin: 0 2vw;
}