/* Application-wide Styles */
/* everywhere else */
* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body{   
    background: #ffffff;
}

.main{
display: flex;
justify-content: center;
}