.weather-box{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.heading{
    font-size: 18px;
    
}

.primary-info{
    display: flex;
    align-items: center;
    gap: 14px;
}

.primary-info .conditions{
    font-size: 16px;
    
}

.weather-info{
    display: flex;
}
.weather-info .temp{
    font-size: 32px;
    color: #e8bf25;
    
}

.weather-info .text{
    display: flex;
    align-items: center;
}

.weather-info .degrees{
    font-size: 16px;
    margin-bottom: 10px;
    
    
}

.weather-info .symbol{
    vertical-align: bottom;
}

.secondary-info{
    display: flex;
    gap: 1rem;
}
.wind{
    font-size: 18px;
}

.details{
    font-size: 12px;
}

.text-stack{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box{
    display: flex;
    justify-content: space-between;
}

