.container{
    font-family: Roboto, sans-serif;
    
}
.location{
    font-size: 32px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.weather-box{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.heading{
    font-size: 24px;
    
}

.primary-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.primary-info .conditions{
    font-size: 18px;
}

.weather-info{
    display: flex;
    
}
.weather-info .temp{
    font-size: 52px;
    color: #e8bf25;
}
.weather-info .degrees{
    font-size: 20px;
    vertical-align: top;
    margin-top: 10px;
    
}

.weather-info .symbol{
    vertical-align: bottom;
}

.secondary-info{
    display: flex;
    gap: 1rem;
}
.wind{
    font-size: 32px;
}

.details{
    font-size: 12px;
}

.text-stack{
    display: flex;
    align-items: center;
}

.search-box{
    display: flex;
    justify-content: space-between;
}

.search-box input{
    font-size: 24px;
    font-weight: 400;
    width: 80%;
}

.search-box button{
    cursor: pointer;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.missing{
    font-size: 16px;
    background-color: #ffcdd2;
    padding: 5px 2px 5px 2px ;
}